<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/431c19e96f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <img src="/static/images/formimg.jpg" alt="">
        <h1 class="h">Hello</h1>
        <h5 class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, libero non. Velit magnam reiciendis doloribus facilis est accusamus tempora molestias?</h5>

    </div>

    <div class="facebook">
        <i class="fa-brands fa-square-facebook"></i> Facebook
    </div>

    <div class="instagram">
        <i class="fa-brands fa-instagram"></i> Instagram
    </div>

    <div class="twitter">
        <i class="fa-brands fa-twitter"></i> Twitter
    </div>

    <div class="google">
        <i class="fa-brands fa-google"></i> google
    </div>


    <h4 class="h4">Login With Social Media</h4>

    <form action="/getrequest" class="form">
        <h1 class="h1">Login</h1>

        <p>Don't have an account?<a href="">Create Your Account</a></p>

        <input type="text" placeholder="Name" name="fname" class="name">
        <br>
        <br>
        <input type="password" placeholder="Password" name="fpass" class="pass">
        <br>
        <br>
        <h6 class="pa">Forget Password?</h6>


        <button class="btn" type="submit">Submit</button>


    </form>

</body>
</html>